<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>

		<!-- Light Level: testiramo za 100000, probati kasnije druge vrednosti-->
		<add key="L_threshold" value="100000" />

		<!-- Relative Humidity-->
		<!-- Delta: 0.2% -->
		<add key="RH_threshold" value="0.2" />

		<!-- Air Quality: testiramo za 600, probati kasnije druge vrednosti-->
		<add key="AQ_threshold" value="600" />

		<!-- Deviation: 25% -->
		<add key="DeviationThreshold" value="25" />
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Server.SensorService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000"/>
					</baseAddresses>
				</host>
				<endpoint
                    address="SensorService"
                    binding="netTcpBinding"
                    contract="Common.ISensorService" />
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="StreamingBinding"
                         transferMode="Streamed"
                         maxReceivedMessageSize="67108864"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00">
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>